body {
  min-height: 100vh;
  background-image: url("images/bg-add.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

nav {
  background-color: #daa972;
}

.container-form {
  /* background-color: rgba(248, 247, 244, 0.9); */
  padding-top: 15px;
  padding-bottom: 30px;
  padding-inline: 30px;
}

.btn {
  background-color: #bbbda5;
}
